*{
    background-color: cornflowerblue;
}

.mainBody{
    display: flex;
}

#mainBio{
    width: 48%;
    border: 3px solid black;
    margin-left: 15px;
    padding-bottom: 20px;
}

#bodyH1{
    font-weight: bolder;
    font-size: 50px;
    border: 3px solid black;
    text-align: center;
    line-height: 50px;
    background-color: black;
    color: white;
    margin: 10px 5px 20px 5px;
}

h2{
    font-weight: bolder;
    font-size: 30px;
    margin: 20px 50px 10px 50px;
}

h3{
    font-size: 20px;
    margin-left: 70px;
    margin-bottom: 3px;
}

h3 span{
    font-weight: bold;
}

h4{
    font-size: 20px;
    margin-left: 70px;
}

h4 span{
    font-weight: bold;
}

#h5Title{
    font-weight: bolder;
    font-size: 30px;
    margin: 20px 50px 10px 50px;
}

#h5School{
    font-size: 20px;
    margin-left: 70px;
}

#h5School li{
    margin-bottom: 3px;
}

#h5College{
    font-weight: bold;
}

#h5DegreeBold{
    font-weight: bold;
}

#h6Title{
    font-weight: bolder;
    font-size: 30px;
    margin: 20px 50px 10px 50px;
}

h6 ul{
    list-style-type: disc;
    list-style-position: inside;
    font-size: 20px;
    margin: 0px 40px 0px 70px;
}

#favMovies{
    width: 48%;
    border: 3px solid black;
    margin-left: 20px;
    padding-bottom: 20px;
}

#favMovies header{
    font-weight: bolder;
    font-size: 35px;
    border: 3px solid green;
    text-align: center;
    line-height: 50px;
    background-color: green;
    color: white;
    margin: 10px 5px 20px 5px;
}

#favMovies ol{
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 20px;
    margin-left: 70px;
}

#h1Footer{
    font-weight: bolder;
    font-size: 30px;
    margin: 20px 50px 10px 50px;
}

footer ol{
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 20px;
    margin-left: 70px;
}